= form_with(model: role, url: path, class: "contents") do |form|
  = form.hidden_field :user_id, value: current_user.id
  = form.hidden_field :team_id, value: current_team.id
  - if role.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      %h2
        = pluralize(role.errors.count, "error")
        prohibited this role from being saved:
      %ul
        - role.errors.each do |error|
          %li= error.full_message
  .my-5
    = form.label :name
    = form.text_field :name, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :description
    = form.text_area :description, required: true, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :permissions
    = form.select :permissions, options_for_select([['create', 'create'], ['edit', 'edit'], ['delete', 'delete']], selected: form.object&.permissions), multiple: true, required: true
  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
