.w-full
  - if notice.present?
    %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
%section.py-1.bg-blueGray-50
  .w-full.mb-12.xl:mb-0.px-4.mx-auto.mt-24{class: "xl:w-8/12"}
    .relative.flex.flex-col.min-w-0.break-words.bg-white.w-full.mb-6.shadow-lg.rounded
      .rounded-t.mb-0.px-4.py-3.border-0
        .flex.flex-wrap.items-center
          .relative.w-full.px-4.max-w-full.flex-grow.flex-1
            %h3.font-semibold.text-base.text-blueGray-700 Roles
          .relative.w-full.px-4.max-w-full.flex-grow.flex-1.text-right
            - if @user_roles.include?('create') || current_team.check_owner(current_user.id)
              = link_to "Create Role", new_team_role_path(current_team), class: "bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      .block.w-full.overflow-x-auto
        %table.items-center.bg-transparent.w-full.border-collapse
          %thead
            %tr
              %th.px-6.bg-blueGray-50.text-blueGray-500.align-middle.border.border-solid.border-blueGray-100.py-3.text-xs.uppercase.border-l-0.border-r-0.whitespace-nowrap.font-semibold.text-left
                Role Name
              %th.px-6.bg-blueGray-50.text-blueGray-500.align-middle.border.border-solid.border-blueGray-100.py-3.text-xs.uppercase.border-l-0.border-r-0.whitespace-nowrap.font-semibold.text-left
                Permissions
              %th.px-6.bg-blueGray-50.text-blueGray-500.align-middle.border.border-solid.border-blueGray-100.py-3.text-xs.uppercase.border-l-0.border-r-0.whitespace-nowrap.font-semibold.text-left
                View
              %th.px-6.bg-blueGray-50.text-blueGray-500.align-middle.border.border-solid.border-blueGray-100.py-3.text-xs.uppercase.border-l-0.border-r-0.whitespace-nowrap.font-semibold.text-left
                Edit
              %th.px-6.bg-blueGray-50.text-blueGray-500.align-middle.border.border-solid.border-blueGray-100.py-3.text-xs.uppercase.border-l-0.border-r-0.whitespace-nowrap.font-semibold.text-left
                Delete
          %tbody
            - @roles&.each do |role|
              %tr
                %td.border-t-0.px-6.align-middle.border-l-0.border-r-0.text-xs.whitespace-nowrap.p-4.text-left.text-blueGray-700
                  = role.name
                %td.border-t-0.px-6.align-middle.border-l-0.border-r-0.text-xs.whitespace-nowrap.p-4.text-left.text-blueGray-700
                  = role.permissions.join(", ")
                %td.border-t-0.px-6.align-center.border-l-0.border-r-0.text-xs.whitespace-nowrap.p-4
                  = link_to "View", team_role_path(team_id: current_team.id, id: role.id), class: 'bg-green-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'
                %td.border-t-0.px-6.align-center.border-l-0.border-r-0.text-xs.whitespace-nowrap.p-4
                  - if current_user.id == role.user_id || @user_roles.include?('edit')
                    = link_to "Edit", edit_team_role_path(team_id: current_team.id, id: role.id), class: 'bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'
                %td.border-t-0.px-6.align-middle.border-l-0.border-r-0.text-xs.whitespace-nowrap.p-4
                  - if current_user.id == role.user_id || @user_roles.include?('delete')
                    = link_to "Delete", team_role_path(team_id: current_team.id, id: role.id), data: { turbo_method: :delete }, class: 'bg-red-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'